body,html{
	margin: 0;
	padding: 0;
}
.content{
	font-size: 18px;
	width: 650px;
	margin : 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	line-height: 1.6;
	color:#444;
	padding:0 10px;
}
h1, h2, h3{
	line-height: 1.6;
}
h1{
	padding-top: 50px;
}



#POP{
	position: fixed;
	background-color: black;
	opacity: 0.96;
	width: 100%;
	height: 100%;
	top:0;
	z-index: 1;
	display: none;
}


.pop-up{
	background-color: #fff;
	width: 700px;
	margin:20px auto;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	overflow: hidden;
	padding: 10px;
} 
.message>p{
	font-size: 30px;
	font-weight: bold;
}
.choice{
	margin:0 auto;
	width: 45%;
	overflow: hidden;
	padding: 6px;
}
#yes{
	float: left;
	padding: 7px;
	background-color: green;
	border-radius: 4px 4px 4px 4px;
	margin-right: 10px
}

#yes >a,#non{
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 2px #000;
	font-size: 50px;
}

#non{
	margin:0!important;
}

#non:hover{
	cursor: pointer;
}
#no{
	float: left;
	padding: 7px;
	background-color: red;
	border-radius: 4px 4px 4px 4px;
}

.bouton-changer{
	overflow: hidden;
	max-width: 800px;
	margin:20px auto;
	position: absolute;
	left: 29%;
	top: 0;
}

.left{
	float:left;
	margin-right: 10px;
	padding: 20px;
	color: white;
	text-shadow: 1px 1px 2px #000;
}

#back-magenta{
	background-color: magenta;
	border-radius: 4px 4px 4px 4px;
}

#back-magenta:hover{
	box-shadow: 4px 7px 4px grey;
	cursor: pointer;
}	

#police-bleu{
	background-color: blue;
	border-radius: 4px 4px 4px 4px;
}

#police-bleu:hover{
	box-shadow: 4px 7px 4px grey;
	cursor: pointer;
}
#police-header-green{
	background-color: green;
	border-radius: 4px 4px 4px 4px;
}
#police-header-green:hover{
	box-shadow: 4px 7px 4px grey;
	cursor: pointer;
}
#changement-police{
	background-color: #5f5959;
	border-radius: 4px 4px 4px 4px;
}
#changement-police:hover{
	box-shadow: 4px 7px 4px grey;
	cursor: pointer;
}
.footer-clean {
	padding:50px 0;
	background-color:#fff;
	color:#4b4c4d;
  }
  
 .footer-clean h3 {
	margin-top:0;
	margin-bottom:12px;
	font-weight:bold;
	font-size:16px;
 }